SUPABASE_URL=https://xloweuqyafvrfuictwsf.supabase.co/rest/v1
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhsb3dldXF5YWZ2cmZ1aWN0d3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwMTEwMTEsImV4cCI6MjA5NzU4NzAxMX0.J0xlicYDglE7GMfbN5BMwGWF2iS0WKise2GD8HzjcKg
